In [19]:

import pandas as pd
import matplotlib.pyplot as plt
import json
import requests
import csv

In [20]:
base_url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx?format=json&q="
cities = ["Berkeley","Oakland","Emeryville"]
#  city = "Oakland"
api_key = "528c688f6049436981732700181204"
date = "2017-02-01"
enddate= "2017-02-28"
isDayTime = "yes"
query_url= base_url+city+"&key="+api_key+"&date="+date+"&enddate="+enddate+"&mca=yes"+"&isDayTime=yes"

In [21]:
query_url

'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?format=json&q=Oakland&key=528c688f6049436981732700181204&date=2017-02-01&enddate=2017-02-28&mca=yes'

In [22]:
sunset =[]
for city in cities:
    query_url= base_url+city+"&key="+api_key+"&date="+date+"&enddate="+enddate
    response = requests.get(query_url).json()
    weather = response["data"]['weather']
    for day in weather:
        sunset.append(day["astronomy"][0]["sunset"])
    
len(sunset)

84

In [23]:
response["data"]['weather'][1]["astronomy"][0]["sunset"]

'06:34 PM'

In [24]:
pwd

'/Users/nkaplan/Desktop/sandbox/Project1'

In [25]:
ls

README.md
Solar_Farms.ipynb
Tutorial_worldweatheronline04132018.ipynb
Untitled.ipynb
__pycache__/
class_clean_city_data.csv
config.py
county ppsf sales data csv.csv

In [40]:
csv_path = "class_clean_city_data.csv"
df = pd.read_csv(csv_path)

In [41]:
df.head()

   Unnamed: 0                 City  Average_price State
0           0          Alameda, CA     574.329990    CA
1           1  American Canyon, CA     284.420696    CA
2           2          Antioch, CA     237.773274    CA
3           3          Belmont, CA     918.636961    CA
4           4          Benicia, CA     336.423543    CA

In [56]:
city_df = df['City'].str.split(',', 1, expand=True)
city_df.head()

                 0    1
0          Alameda   CA
1  American Canyon   CA
2          Antioch   CA
3          Belmont   CA
4          Benicia   CA

In [62]:
city_final_df=city_df.replace(' ', '+', regex=True)
city_names = city_final_df[0]
type(city_names)

pandas.core.series.Series

In [70]:
df["City"]=city_names
df

                   City  Average_price State
0               Alameda     574.329990    CA
1       American+Canyon     284.420696    CA
2               Antioch     237.773274    CA
3               Belmont     918.636961    CA
4               Benicia     336.423543    CA
5              Berkeley     690.923802    CA
6             Brentwood     251.908341    CA
7            Burlingame    1145.094973    CA
8              Campbell     811.024947    CA
9               Concord     377.608098    CA
10            Cupertino    1167.892569    CA
11            Daly+City     656.477191    CA
12             Danville     490.517462    CA
13               Dublin     487.882452    CA
14            Fairfield     240.499809    CA
15          Foster+City     888.379635    CA
16              Fremont     648.142810    CA
17               Gilroy     352.388540    CA
18              Hayward     435.751213    CA
19             Hercules     328.279464    CA
20            Lafayette     647.374587    CA
21            Livermore     463.611642    CA
22            Los+Altos    1347.298813    CA
23            Los+Gatos     828.954005    CA
24             Martinez     366.625490    CA
25           Menlo+Park    1301.411559    CA
26          Mill+Valley     779.021069    CA
27             Milpitas     678.905006    CA
28          Morgan+Hill     426.138943    CA
29        Mountain+View    1090.574178    CA
..                  ...            ...   ...
35               Orinda     510.295988    CA
36             Pacifica     702.474485    CA
37            Palo+Alto    1502.133603    CA
38               Pinole     346.386496    CA
39            Pittsburg     266.097188    CA
40        Pleasant+Hill     440.247317    CA
41           Pleasanton     558.102227    CA
42         Redwood+City     925.325082    CA
43             Richmond     377.247470    CA
44         Rohnert+Park     352.305715    CA
45            San+Bruno     737.541719    CA
46           San+Carlos    1046.027046    CA
47        San+Francisco     993.879018    CA
48             San+Jose     656.654832    CA
49          San+Leandro     464.841038    CA
50            San+Mateo     922.580628    CA
51            San+Pablo     325.871251    CA
52           San+Rafael     540.226981    CA
53            San+Ramon     482.219707    CA
54          Santa+Clara     878.656526    CA
55           Santa+Rosa     388.652857    CA
56             Saratoga    1060.198951    CA
57               Sonoma     525.374965    CA
58  South+San+Francisco     715.930747    CA
59          Suisun+City     239.216278    CA
60            Sunnyvale    1098.385643    CA
61           Union+City     530.593427    CA
62            Vacaville     253.403344    CA
63              Vallejo     263.784161    CA
64         Walnut+Creek     473.800397    CA

[65 rows x 3 columns]

In [71]:
df.to_csv("class_clean_city_data.csv")